<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<title>Listagem das tarefas</title>
</head>

<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome da tarefa</th>
				<th scope="col">Data de execução</th>
				<th scope="col">#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${tasks}">
				<td th:text="${task.id}"></td>
				<td th:text="${task.name}"></td>
				<td th:text="${{task.date}}"></td>
				<td>
					<a th:href="@{'/edit/'+${task.id}}">Editar</a>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="/create">Cadastro</a>
</body>

</html>